@charset "ISO-8859-1";

.btn{
  font-family: arial;
  font-size:20px;
  font-weight:700;
  text-transform: uppercase;
  border:none;
  padding:30px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
 
}

.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.btn-green{
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
}
.btn-blue{
  background:blue;
  color:#fff;
  box-shadow:0 5px 0 blue;
}

.btn-green:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}
.btn-purple{
  background:purple;
  color:#fff;
  box-shadow:0 5px 0 #670167;
}.btn-red{
  background:red;
  color:#fff;
  box-shadow:0 5px 0 #d20000;
}
.btn-purple:hover{
  background:red;
  box-shadow:0 5px 0 #470047;
}
.btn-black{
  background:black;
  color:#fff;
  box-shadow:0 5px 0 black;
}


.btn-red:hover{
  background:#d20000;
  box-shadow:0 5px 0 #b00000;
}
.btn-green:active, .btn-purple:active, .btn-red:active{
color: blue;
background:green;	
  position:relative;
  top:5px;
  box-shadow:none;
}

INPUT.MeuInput2 {
     width: 120px;
     height: 20px;
     font-family: verdana;
     background-color:white;
     font-style: inherit;
     font-size: large;	    
     border-color: black;
}

.alinhar{
float:right
}


#gbqfb {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 0 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1);
}

.gbqfi {
    background-position: 0 -2321px;
    display: inline-block;
    margin: -1px;
    height: 30px;
    width: 30px;
}

.gb_6b {
    background-image: url(//ssl.gstatic.com/gb/images/v1_e3444bc5.png);
    -webkit-background-size: 92px 2731px;
    background-size: 92px 2731px;
}


